#board {
    display: table;
    margin: 0;
    padding: 0;
    border-spacing: 5px;
}

.section {
    display: table-cell;
    width: 33%;
}

.section > h4 {
    padding: 10px;
}

.card {
    margin: 10px;
}


.section.droppable {
    border: 3px dashed #666;
}

.section > h1 {
    margin: 0;
    border-bottom: 1px solid #999;
    padding: 10;
    font-size: 12pt;
    text-align: center;
}
