{% extends "base.html" %}

{% if project %}
{% block title %}Kanban - {{ project }}{% endblock %}
{% endif %}

{% block content %}
    <div id="board">
        <div id="todo" class="section border border-warning rounded">
            <h3>To Do</h3>
            {% for task in todo_tasks %}
    
            <div id="c{{ task.id }}" class="card text-center">
                <input type="hidden" name="task_id" class="task-id" value="{{ task.id }}">
                <div class="card-header">
                    <h4>{{ task.title }}</h4>
                </div>
                <div class="card-body">
                    {% if task.completer != None %}
                    <p class="text-muted"><small>
                        Completed by: {{ task.completer}} at {{ task.complete_date.strftime('%d/%m/%Y') }}
                    </small></p>
                    {% elif task.owner != None %}
                    <p class="text-muted"><small>
                        owned by: {{ task.owner}} at {{ task.owned_date.strftime('%d/%m/%Y') }}
                    </small></p>
                    {% endif %}
                    <p class="card-text">{{ task.description }}</p>
                </div>
                <div class="card-footer text-muted">
                    Active for {{ task.days_active() }} days
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="doing" class="section border border-secondary rounded">
            <h3>Doing</h3>
            {% for task in doing_tasks %}
                <div id="c{{ task.id }}" class="card text-center">
                <input type="hidden" name="task_id" class="task-id" value="{{ task.id }}">
                <div class="card-header">
                    <h4>{{ task.title }}</h4>
                </div>
                <div class="card-body">
                    {% if task.completer != None %}
                    <p class="text-muted"><small>
                        Completed by: {{ task.completer}} on {{ task.complete_date.strftime('%d/%m/%Y') }}
                    </small></p>
                    {% elif task.owner != None %}
                    <p class="text-muted"><small>
                        owned by: {{ task.owner}} on {{ task.owned_date.strftime('%d/%m/%Y') }}
                    </small></p>
                    {% endif %}
                    <p class="card-text">{{ task.description }}</p>
                </div>
                <div class="card-footer text-muted">
                    Active for {{ task.days_active() }} days
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="done" class="section border border-success rounded">
            <h3>Done</h3>
            {% for task in done_tasks %}
    
            <div id="c{{ task.id }}" class="card text-center">
                <input type="hidden" name="task_id" class="task-id" value="{{ task.id }}">
                <div class="card-header">
                    <h4>{{ task.title }}</h4>
                </div>
                <div class="card-body">
                    {% if task.completer != None %}
                    <p class="text-muted"><small>
                        Completed by: {{ task.completer}} on {{ task.complete_date.strftime('%d/%m/%Y') }}
                    </small></p>
                    {% elif task.owner != None %}
                    <p class="text-muted"><small>
                        owned by: {{ task.owner}} on {{ task.owned_date.strftime('%d/%m/%Y') }}
                    </small></p>
                    {% endif %}
                    <p class="card-text">{{ task.description }}</p>
                </div>
                <div class="card-footer text-muted">
                    Active for {{ task.days_active() }} days
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
    
    <!-- local JS -->
    <script src="/static/js/kanban.js"></script>
{% endblock %}
