{% extends "base.html" %}

{% block content %}
<div class="container">
  <form>
    <div class="form-group">
      <label for="new_task_name">New Task Title</label>
      <input type="text" class="form-control" id="new_task_name" aria-describedby="new_task_name_help" placeholder="Task Title">
      <small id="new_task_name_help" class="form-text text-muted">Please enter a title for your new task!</small>
    </div>
    <div class="form-group">
      <label for="new_task_desc">New Task Description</label>
      <textarea class="form-control" id="new_task_desc" aria-describedby="new_task_desc_help" placeholder="Task Description" rows="3"></textarea>
      <small id="new_task_desc_help" class="form-text text-muted">Please enter a description for your new task!</small>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>
{% endblock %}